p {
    margin-top: 3%;
    font-weight: 400;
}

div {
    margin-left: 10%;
}

img{
    margin-top: 10%;
    margin-left: 10%;
}

body{
    background-color: #eee;
}

/* header.style.textAlign = 'center';
    header.style.backgroundColor = '#5c5b5b';
    header.style.color = 'white';
    header.style.paddingBottom = '100px' */

h1{
    text-align: center;
    background-color: #5c5b5b;
    position: fixed;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    /* height: ; */
    z-index: 1;
    top: 0;
    left: 0;
    color: white;
    vertical-align: middle;
}